* {
	font-family: verdana;

}

.efectoSelect:hover {
	font-weight: bold;
	text-decoration: overline;
}

.efectoSelect {
color: blue;
}

.anchoTotal {
	display: block;
}


.autocomplete {
	border: 1px solid #ced4da;
	border-radius: 4px;
	padding: 0%;
}

.eliminarRecuadro {
	border: 0px solid red;
}

.resaltar:hover { 
	background-color: rgb(181, 206, 252);
  }

 .eliminaPunto {
	list-style-type: none;
	padding: 0px;
}

.resaltar {
	padding-left: 15px;
}
