* {
	font-family: verdana;

}

.efectoSelect:hover {
	font-weight: bold;
	text-decoration: overline;
}

.efectoSelect {
color: blue;
}

.anchoTotal {
	display: block;
}

#autocomplete {
	border: 1px solid #ced4da;
	border-radius: 4px;

}

.eliminarRecuadro:focus { /*elimina el recuadro azul del input*/
		border-color: #cccccc;
		-webkit-box-shadow: none;
		box-shadow: none;
}

.eliminarRecuadro {
	border: 0px;
	padding-top: 3%;
	padding-bottom: 2%;
}

.resaltar:hover { 
	background-color: rgb(181, 206, 252);
  }

 .eliminaPunto {
	list-style-type: none;
	padding: 0px; /*mantiene la empresa que salio del ajax con una distancia del borde */
	border: 0px;
}

.resaltar {
	padding-left: 15px;
}
